/* Imports */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* CSS-Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Rules */

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

/* Menubar */

.menu {
  position: fixed;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
}

#logolink {
  height: 5vh;
  padding: 1vh;
}

#logolink:hover {
  height: 7vh;
  padding: 0;
}

#menulogo {
  height: 100%;
}

.dropdown {
  flex: 1;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menuitem {
  display: none;
  text-decoration: none;
  color: black;
  min-width: 100px;
  padding: 1vh;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  font-size: 120%;
  order: 1;
}

.menuitem:hover {
  background: #8bff40;
}

#togglemenu {
  height: 5vh;
  width: 5vh;
  border: none;
  margin: 1vh;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shownmenu {
  color: white;
  background: #8bff40;
}

.hiddenmenu {
  background: white;
  color: #8bff40;
}

.hiddenmenu:hover {
  color: white;
  background: #8bff40;
}

.show {
  display: block;
}

@media screen and (max-width: 480px) {
  .dropdown {
    flex-direction: column;
    align-items: flex-end;
  }

  .menuitem {
    padding: 1vh;
    height: 3vh;
    line-height: 3vh;
    text-align: end;
    width: 100%;
  }

  .menuitem:hover {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 29%, rgba(139,255,64,1) 100%); 
  }
}

/* Main */

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8bff40;
  padding-top: 7vh;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}

#main {
  padding-bottom: 7vh;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
}

.footerlink {
  height: 5vh;
  line-height: 5vh;
  padding: 1vh;
}

/* index.html */

#index_main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../files/images/programming-1873854.png");
  color: black;
  text-shadow: none;
  font-weight: normal;
}

#index_header {
  background: rgba(255,255,255, 0.75);
  border-radius: 0.2vh;
}

#index_header h1 {
  padding: 4vh;
  font-size: 300%;
  text-align: center;
}

#aboutlink {
  position: fixed;
  bottom: 0;
  background: #8bff40;
  margin: 1vh;
  height: 5vh;
  width: 5vh;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  #index_header {
    width: 75%;
  }

  #index_header h1 {
    padding: 1vh;
    font-size: 175%;
    text-align: center;
  }
}

/* about.html */

#about_main {
  font-size: 150%;
  width: 75%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about_title {
  padding-bottom: 4vh;
  font-size: 150%;
}

#about_main p {
  text-align: center;
}

@media screen and (max-width: 480px) {
  #about_main {
    font-size: 120%;
    width: 16em;
  }
}

/* projects.html */

#projects_main {
  font-size: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects_title {
  padding-bottom: 4vh;
  font-size: 150%;
}

#theader {
  border-bottom: 2px solid white
}

#theader th {
  padding: 2vh 5vh 2vh 3vh;
  text-align: start;
  border-right: 1px solid white;
}

#theader th:last-child {
  border: none;
}

.project {
  border-top: 1px solid white;
}

.project td {
  padding: 2vh;
  font-size: 80%;
}

.project td a {
  color: #212121;
  text-shadow: 1px 1px 2px white;
  text-decoration: none;
}

#error {
  color: red;
}

@media screen and (max-width: 480px) {
  #projects_main {
    font-size: 120%;
  }
}

/* contact.html */

#contact_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.material-icons.smallicon {
  font-size: 14px;
}