/* Imports */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* CSS-Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General rules */

html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: stretch;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(11,19,43);
	background: linear-gradient(90deg, rgba(11,19,43,1) 0%, rgba(28,37,65,1) 30%, rgba(58,80,107,1) 100%);	
}

#logo {
	max-height: 4vw;
	object-fit: scale-down;
}

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navigation {
	padding: 1.5vw;
	white-space: nowrap;
	font-size: 1.2rem;
	text-decoration: none;
	color: #6fffe9;
}

.navigation:hover {
	color: #5bc0be;
}

#main {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: 4vw;
	background: url(./temp2.jpg) center;
}

#slogan {
	flex-grow: 2;
	display: flex;
	align-items: center;
	font-size: 4rem;
}

#slogan h1 {
	padding: 3vw;
	background: rgba(255, 255, 255, 0.65);
	border-radius: 0.075rem;
}

#aboutbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vw;
	background: rgba(255, 255, 255, 0.65);
	border-radius: 0.075rem;
}

#abouttext {
	padding: 1vw;
	font-size: 1.5rem;
}

#aboutbuttons {
	padding-top: 1vw;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

